<custom-header></custom-header>

<ion-content class="page-with-share-footer">
    <img src="https://cdn.narcity.com/uploads/223248_696654f25b98a665c67d3e8f0f4b9e5e1ee3d8da.jpg_970x400.jpg"
         class="pageImage">
    <div class="innerSubContainer">
        <div class="nameContainer">
            <p class="pageLbl">{{title}}</p>
        </div>
        <!--<p class="pageContains" [innerHTML] = "content">-->
        <!--</p>-->
        <ng-template #container></ng-template>
    </div>
    <div class="page-link-list">
        <p class="pageLbl">UPDATES</p>
        <ion-list class="">

            <ion-item class="updateList" *ngFor="let update of aboutUpdate">
                <ion-thumbnail item-start>
                    <img src="{{update.featured_image}}">
                </ion-thumbnail>
                <p class="listTitle">{{update.title}}</p>
                <p class="listDescription" [innerHTML] = "update.content">.</p>
                <button ion-button icon-end color="bgAndHeader"  *ngIf="update.template != 'web-view';else showHrefButton" (click)="openAboutUpdates(update)"  class="bookBtn">READ MORE<ion-icon name="md-arrow-dropright-circle" class="dropRightCircle"></ion-icon>
                </button>
                <ng-template #showHrefButton>
                    <a href="{{update.page_to_be_linked}}" target="_blank">
                        <button ion-button icon-end color="bgAndHeader" >READ MORE <ion-icon name="md-arrow-dropright-circle"></ion-icon>
                        </button>
                    </a>
                </ng-template>
            </ion-item>

        </ion-list>
    </div>
    <div class="privacy-policy">
        <p class="pageLbl">{{privacyInfo.title}}</p>
        <div class="" [innerHTML] = "privacyInfo.content"></div>
    </div>
    <div class="droplist">
        <ion-list>
            <ion-item padding *ngFor="let d of privacyInfo.tabs" (click)="toggleDetails(d)">
                <ion-icon name="ios-arrow-down" item-end class="droplist"></ion-icon>
                 <p [innerHTML]="d.label"></p>
                <div *ngIf="d.showDetails" [innerHTML]="d.content"></div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<share-footer></share-footer>
