page-about {
  .innerSubContainer,
  .privacy-policy {
    padding: 20px;
  }
  .pageLbl {
    text-transform: uppercase;
  }
    
  .page-link-list {
    .pageLbl, .item-block {
      padding-left: 20px;
    }
    .pageLbl {
      margin-bottom: 15px;
    }
  }
  .up-down-icon {
    font-size: 2.5rem;
    padding: 0;
    color: color($colors, containsColor);
    text-align: center;
    position: absolute;
    right: 17px;
    top: 16px;
    &:before {
      font-weight: bold;
    }
  }
  .droplist {
    .item-block {
      padding: 0 !important;
      ion-label {
        padding: 8px 20px;
      }
    }
  }

  .droplist {
    ion-list {
      ion-label {
        div {
          text-transform: none;
          font-size: 0.8em;
          padding: 1em 0;
          white-space: normal;
        }
      }
      ion-icon {
        font-size: 1.8rem;
        padding: 0;
        color: color($colors, containsColor);
        text-align: center;
        position: absolute;
        right: 10px;
        top: 3px;
        &:before {
          font-weight: bold;
        }
      }
    }
  }
  ion-label {
    padding: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}