page-login {
    .ion-md-arrow-back:before,
    .ion-ios-arrow-back:before,
    .ion-wp-arrow-back:before {
        content: "\f2c0";
        font-size: 3rem;
    }
    .super-container {
        background-color: color($colors, bgAndHeader)
    }
    .logoContainer {
        position: relative;
        display: block;
        width: 100%;
        transform: none;
        top: 0;
        left: 0;
        img {
            max-width: 135px;
        }
    }
    .login-title {
        color: color($colors, textColor);
        font-size: 2.6rem;
        margin-top: 4.8rem;
        text-align: center;
        letter-spacing: 0.3rem;
    }
    .leftMargin {
        margin-left: -50px
    }
    .formContainer {
        padding: 20px
    }
    .item-md [item-left], 
    .item-md [item-right], 
    .item-md [item-start], 
    .item-md [item-end] {
        margin: 0;
    }
    .item-md .text-input {
        padding: 5px;
        font-family: 'GT-Walsheim-Light';
    }
    .loginTxt {
        background-color: transparent;
        color: color($colors, textColor);
        border-bottom: 2px solid color($colors, textColor);
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .text-input::placeholder {
        color: #fff;
    }
    .submitBtn {
        margin: 0px 20px 20px 20px;
        color: color($colors, bgAndHeader);
        height: 3.5rem;
        padding: 10px;
        width: 120px
    }
    .submitBtn .button-inner {
        justify-content: space-between;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        font-family: 'miso-bold-webfont';
        font-size: 2rem;
    }
    .submitBtn ion-icon {
        color: color($colors, bgAndHeader);
    }
    .subContainer {
        padding: 20px 20px 20px 20px;
        color: color($colors, textColor); //  position: absolute;
        h5 {
            font-family: 'miso-bold-webfont';
            margin-bottom: 0.5rem;
        }
        p {
            margin-top: 0.5rem;
            & + h5 {
                margin-top: 2rem;
            }
            a {
                font-family: 'GT-Walsheim-Medium';
            }
        }
    }
    .iconContainer {
        position: absolute;
        right: 0px;
        bottom: -4px;
        margin-right: 0px
    }
    .loginTxt .text-input {
        width: 280px;
        border: none;
    }
    .formContainer p {
        color: color($colors, secondary);
    }
    .item-block:last-child {
        border-bottom: 2px solid color($colors, textColor) !important;
    }
}