<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="login-header">

  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button ion-button icon-only color="textColor">
                <ion-icon name="ios-notifications-outline"  color="transparentColor"></ion-icon>
            </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content class="super-container">
  <div class="logoContainer">
    <img class="small-logo" src="assets/img/logo.png" />
  </div>
  <h3 class="login-title miso-bold-webfont">{{title}}</h3>

  <form [formGroup]="loginForm" class="formContainer">
    <ion-item no-margin class="loginTxt">
      <ion-input formControlName="membership_num" placeholder="Membership Number" item-start></ion-input>
      <ion-label class="iconContainer" *ngIf="(!loginForm.controls.membership_num.valid  && (loginForm.controls.membership_num.dirty || submitAttempt) || wrongDetails)">
        <ion-icon name="ios-alert" color="secondary" item-end> </ion-icon>
      </ion-label>
    </ion-item>

    <ion-item no-margin class="loginTxt">
      <ion-input type="password" formControlName="pin_num" placeholder="PIN Number" item-start></ion-input>
      <ion-label class="iconContainer" *ngIf="(!loginForm.controls.membership_num.valid  && (loginForm.controls.membership_num.dirty || submitAttempt) || wrongDetails)">
        <ion-icon name="ios-alert" color="secondary" item-end> </ion-icon>
      </ion-label>
    </ion-item>
    <ion-input type="hidden" formControlName="device_token" [ngModel]="device_token" item-start></ion-input>
    <ion-input type="hidden" formControlName="device_type" [ngModel]="device_type" item-start></ion-input>
    <div *ngIf="(!loginForm.controls.membership_num.valid  && (loginForm.controls.membership_num.dirty || submitAttempt) || wrongDetails)">
      <p>Please check that your details are correct.</p>
    </div>

  </form>

  <button class="submitBtn" (click)="login()" ion-button icon-right>
  Submit
  <ion-icon name="md-arrow-dropright-circle"></ion-icon>
</button>

  <div class="subContainer">
    <!--<p [innerHTML]="content"></p>-->
    <ng-template #container></ng-template>

  </div>

</ion-content>