<custom-header></custom-header>
<ion-content no-padding>
    <!--<img [src]="imageData" *ngIf="imageFlag" class="pageTopImage">-->
    <div *ngIf="imageFlag">
        <lazy-img inputSrc="{{imageData}}"></lazy-img>
    </div>
    <div class="innerSubContainer">
        <p class="pageLbl">{{title}}</p>
        <p class="pageContains" [innerHtml]="content">
        </p>
        <p class="pageContains" [innerHtml]="services">
        </p>
    </div>
</ion-content>
<share-footer></share-footer>
