page-contact-form {
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: 0;
    box-shadow: none;
  }
  .text-input {
    margin: 0;
    border: none
  }
  .blue-text {
    color: color($colors, secondary);
    padding-left: 0px;
    font-size: 1.5rem;
  }
  .select-wp{
    border: none
  }
  .bookBtn {
    height: 35px;
    width: 120px;
    margin-top: 20px;
  }
  .dropRightCircle {
    top: inherit;
    color: color($colors, textColor);
  }

  .list-ios[no-lines] .item-block,
  .list-md[no-lines] .item-block {
    border-width: thin;
    &.itemContainer {
      border: 1px solid gray;
      height: 1vh;
      .input-wrapper {
        padding: 0 !important;
      }
    }
    &.highlightBox {
      border: 1px solid red;
      height: 1vh;
      border-width: thin;
    }
  }
  .list-wp[no-lines] .item-block {
    border: 1px solid gray;
    height: 1vh;
    border-width: thin;
    &.highlightBox {
      border: 1px solid red;
    }
  }
  .list-ios[no-lines] .item {
    border-width: thin;
  }
  .highlightLbl {
    color: red;
    padding-left: 0px;
    font-size: 1.5rem;
  }
  .label-ios[stacked], .label-md[stacked], .label-wp[stacked] {
    font-size: 1.5rem;
  }
  .item-input ion-input {
    font-size: 1.5rem;
    border: none;
  }
  .item-input ion-textarea {
    font-size: 1.5rem;
    border: none;
  }

  .item-input ion-textarea textarea {
    height: 110px;
    padding: 1rem 0;
  }

  .alert-ios .alert-button {
    color: #000000 !important;
  }
  ion-select {
    width: 100%;
    max-width: 100%;

    .select-text {
      width: 100%;
      overflow: visible !important;
      padding: 0;
      font-size: 1.5rem;
    }
    .select-md .select-icon {
      position: absolute !important;
      width: 12px !important;
      height: 19px !important;
      right: 10px !important;
    }
  }
  ion-select.select-ios {
    padding: 11px 8px 11px 0;
  }
  ion-select.select-md {
    padding: 13px 8px 13px 0px;
  }
}