<div style="height:100vh !important;">
    <ion-list no-lines no-padding no-margin>
        <form [formGroup]="contactForm">
            <ion-label stacked class="blue-text">Enquiry Type</ion-label>
            <ion-item class='itemContainer' no-margin>
                <ion-select formControlName="enquiry_type" interface="popover">
                    <ion-option value="Customer Feedback" selected="true" checked="true">Customer Feedback</ion-option>
                    <ion-option value="General Enquiry">General Enquiry</ion-option>
                    <ion-option value="Other">Other</ion-option>
                </ion-select>
            </ion-item>
            <ion-label
                    [ngClass]="(!contactForm.controls.name.valid  && (contactForm.controls.name.dirty || submitAttempt))?'highlightLbl':'blue-text'">
                Name*
            </ion-label>
            <ion-item no-margin
                      [ngClass]="(!contactForm.controls.name.valid  && (contactForm.controls.name.dirty || submitAttempt))?'highlightBox':'itemContainer'">
                <ion-input formControlName="name"></ion-input>
            </ion-item>
            <div *ngIf="!contactForm.controls.name.valid  && (contactForm.controls.name.dirty || submitAttempt)">
                <p style="color:red">Please enter a valid name.</p>
            </div>
            <ion-label stacked [ngClass]="(!contactForm.controls.telephone.valid  && (contactForm.controls.telephone.dirty || submitAttempt))?'highlightLbl':'blue-text'">Telephone*</ion-label>
            <ion-item [ngClass]="(!contactForm.controls.telephone.valid  && (contactForm.controls.telephone.dirty || submitAttempt))?'highlightBox':'itemContainer'" no-margin>
                <ion-input type="tel" formControlName="telephone"></ion-input>
            </ion-item>
            <div *ngIf="!contactForm.controls.telephone.valid  && (contactForm.controls.telephone.dirty || submitAttempt)">
                <p style="color:red">Please enter a valid Telephone.</p>
            </div>
            <ion-label stacked [ngClass]="(!contactForm.controls.email.valid  && (contactForm.controls.email.dirty || submitAttempt))?'highlightLbl':'blue-text'">Email*</ion-label>
            <ion-item no-margin [ngClass]="(!contactForm.controls.email.valid  && (contactForm.controls.email.dirty || submitAttempt))?'highlightBox':'itemContainer'">
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="!contactForm.controls.email.valid  && (contactForm.controls.email.dirty || submitAttempt)">
                <p style="color:red">Please enter a valid Email.</p>
            </div>
            <ion-label stacked [ngClass]="(!contactForm.controls.enquiry.valid  && (contactForm.controls.enquiry.dirty || submitAttempt))?'highlightLbl':'blue-text'">Enquiry*</ion-label>
            <ion-item no-margin [ngClass]="(!contactForm.controls.enquiry.valid  && (contactForm.controls.enquiry.dirty || submitAttempt))?'highlightBox':'itemContainer'" style=" height: 120px; box-shadow: none;">
                <ion-textarea formControlName="enquiry"></ion-textarea>
            </ion-item>
            <div *ngIf="!contactForm.controls.enquiry.valid  && (contactForm.controls.enquiry.dirty || submitAttempt)">
                <p style="color:red">Please enter a valid Email.</p>
            </div>
        </form>
    </ion-list>
    <button ion-button icon-end class="bookBtn" (click)="save('contact')" color="bgAndHeader">
        Submit
        <ion-icon class="dropRightCircle" name="md-arrow-dropright-circle"></ion-icon>
    </button>
</div>