<!--
  Generated template for the EventDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

  <ion-content no-padding>
    <img src="https://cdn.narcity.com/uploads/223248_696654f25b98a665c67d3e8f0f4b9e5e1ee3d8da.jpg_970x400.jpg"
         class="pageImage">

    <div class="innerSubContainer">
      <p class="pageLbl">MAMAMIA - THE AUSTRALIAN ABBA SPECTACULAR</p>

      <p class="pageContains">
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
        here, content here', making it look like readable English.The point of using Lorem Ipsum is that it has a more-or-less
        normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </p>
      <h6>SATURDAY 12 AUGUST 2017</h6>
      <h6>TICKETS $34 ON SALE NOW</h6>
      <h6>Doors open 7.30pm - start 8.00pm</h6>
      
      <p class="pageContains">
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
        here, content here', making it look like readable English.The point of using Lorem Ipsum is that it has a more-or-less
        normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </p>
    </div>
  </ion-content>
<share-footer></share-footer>
