lazy-img {
  //div {
  //  background-color: transparent;
  //  color: $color-grey;
  //  font-family: $font-icons;
  //  font-size: inherit;
  //  height: inherit;
  //  min-height: inherit;
  //  min-width: inherit;
  //  position: relative;
  //  transition: 2s background-color ease;
  //  width: 100%;
  //}
  //
  //.placeholder {
  //  background-color: grey;
  //
  //  &::before {
  //    align-items: center;
  //    content: '\f30e';
  //    display: flex;
  //    height: 100%;
  //    justify-content: center;
  //    left: 0;
  //    position: absolute;
  //    right: 0;
  //  }
  //}
  //
  img {
    height:100% !important;
  }
}
