<custom-header></custom-header>
<ion-content no-padding>
    <img src="https://cdn.narcity.com/uploads/223248_696654f25b98a665c67d3e8f0f4b9e5e1ee3d8da.jpg_970x400.jpg"
         class="pageImage">
    <div class="innerSubContainer">
        <p class="pageLbl">EVENTS</p>
        <p class="pageContains">
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
            using 'Content
            here, content here', making it look like readable English.The point of using Lorem Ipsum is that it has a
            more-or-less normal distribution of letters, as opposed to using 'Content
            here, content here', making it look like readable English.
        </p>
    </div>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col class="imageContainer" (click)="openEventDetail(event)" col-6 *ngFor="let event of eventsData" >
                <img [src]="event.src" class="promoImage">
            </ion-col>
        </ion-row>
    </ion-grid>
     <share-footer></share-footer> 
</ion-content>