<!--
  Generated template for the StayRoomDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

<ion-content no-padding>

    <ion-slides class="homeCarousel" pager>
        <ion-slide>
            <img src="http://bluetortillagrille.com/wp-content/uploads/2015/08/healthiest-desserts-1425507401.jpg"
                 class="carouselImage">
        </ion-slide>

        <ion-slide>
            <img src="http://cdn.cdkitchen.com/images/cats/3005/cat-3005-720-1.jpg" class="carouselImage">
        </ion-slide>

        <ion-slide>
            <img src="http://clv.h-cdn.co/assets/15/41/980x490/landscape-1444148101-picmonkey-collage-19.jpg"
                 class="carouselImage">
        </ion-slide>
    </ion-slides>

    <div class="innerSubContainer">
        <p class="pageHeading">FACILITIES</p>

        <p class="stayContains">
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
            using 'Content
            here, content here', making it look like readable English.The point of using Lorem Ipsum is that it has a
            more-or-less normal distribution of letters, as opposed to using 'Content
            here, content here', making it look like readable English.
        </p>
    </div>

    <div class="innerSubContainer" style="background-color: #EFF9FA">
        <p class="stayLbl">THE VILLE SERVICES</p>

        <div class="stayContains">
            <span *ngFor="let facility of facilitiesData" ion-item no-lines>
                <ion-icon name="md-checkmark" item-start></ion-icon>
                <p>{{facility}}</p>
            </span>
        </div>
    </div>
</ion-content>
<share-footer></share-footer>

