page-stay-facilities {
  
  .homeCarousel {
    height: 200px
  }
  .carouselImage {
    width: 100%;
    height: 100%;
  }
  .stayLbl {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: color($colors, secondary);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .pageHeading {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: color($colors,bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .stayContains {
    margin-top: 0;
    padding: 15px 0 15px 0;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }

  .stayContains ion-label {
      white-space: inherit
  }
  .item-ios, .item-md, .item-wp{
    padding-left: 0px;
    min-height: 1rem;
  }
  .item-block:last-child {
    border-bottom: 1px solid transparent!important;
  }
  .item p{
    font-size: 1.6rem;
    color: color($colors,containsColor)
  }
  .item ion-icon {
    color: color($colors,containsColor)
  }
  .item-ios ion-icon[item-start] {
    margin: 8px 8px 8px 0px
  }
  .item-md ion-icon[item-start] + .item-inner{
    margin-left: 0px
  }

}
