page-membership-info {
  .tabContainer {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .memberLbl {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }

  h3{
    margin-bottom: 6px;
    color: color($colors,secondary);
  }

  .ctab {
    height: 6vh;
    font-size: medium;
    line-height: 6vh;
    border: 1px solid #e2f2f2;
  }

  .backGray{
    background-color: #f0f9f9;
    color: color($colors,secondary);
  }



  .backSec{
    color: white;
    background-color: color($colors, bgAndHeader);
  }

  .backSec:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #87DFCF;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
  }

  .cgrid {
    border: 1px solid #e2f2f2;
  }

  .ccol {
    padding: 16px !important;
  }

  .colShadow {
    -webkit-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.75);
    z-index: 1;
  }

  .colBac {
    background-color: color($colors, bgAndHeader);
  }

  .col1{
    background-color: #b2dddd;
  }

  .col-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col2-back-brown{
    background-color: #6c4822;
  }

  .col2-back-gray{
    background-color: #9b9b9b;
  }

  .col3{
    background-color: #d8eeee;
    color:#adb8b8;
  }

  .col4-back-brown{
    background-color: #f1e1d0;
    ion-icon{
      color: #6c4822;
      font-weight: bold;
    }
    span{
      color: #6c4822;
      font-weight: bold;
    }
  }

  .col4-back-gray{
    background-color: #ededed;
    ion-icon{
      color: #9b9b9b;
      font-weight: bold;
    }
    span{
      color: #9b9b9b;
      font-weight: bold;
    }
  }

  .col5{
    padding-top:0;
    padding-bottom: 0;
  }

  .whiteBorder {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .pad10 {
    padding: 10px;
  }

  .text-white {
    color:white;
  }

  .text-gray{
    color:#adb8b8;
  }

  .mem-content {
    font-size: 1.5vh;
    color: #adb8b8;
  }


  .link {
    text-decoration: underline;
    color: color($colors, secondary);
  }

  a{
    color: #000000 !important;
    text-decoration: underline !important;
    //color: color($colors,secondary);
  }
}
