<custom-header></custom-header>

<ion-content no-padding>
  <div class="innerSubContainer">
    <p class="memberLbl"> {{title}}</p>
    <ng-template #container></ng-template>
    <!--<h3 text-uppercase>{{}}</h3>-->

    <p class="dineContains">

    </p>
  </div>

</ion-content>
<share-footer></share-footer>

