page-account-detail {
    .entitlementListabc .label-ios,
    .entitlementListabc .label-md,
    .entitlementListabc .label-wp {
        margin: 11px 0px 11px 0;
    }
    .entitlementList {
        padding: 0px;
        border-bottom: 0.5px solid rgba(174,220,220, 0.7);
        .label {
            font-family: 'GT-Walsheim-Medium';
            font-size: 1.6rem;
            color: color($colors, warmgrey);
        }
    }
    .entitlementList:first-child {
        border-top: 0.5px solid rgba(174,220,220, 0.7);
    }
    .entitlementListabc .input-wrapper {
        border-top: 0.55px solid #c3efe7
    }
    .foodOfferList {
        padding: 0px 16px
    }
    .foodOfferList .label-ios,
    .foodOfferList .label-md,
    .foodOfferList .label-wp {
        margin: 0px
    }
    .foodOfferList .item-ios,
    .foodOfferList .item-md,
    .foodOfferList .item-wp,
    {
        border-bottom: 0px;
    }
    ion-app.md [padding],
    {
        padding: 0px
    }
    ion-app.wp [padding] {
        padding: 0px
    }
    .innerContainer {
        height: 110px;
        width: 100%;
        position: relative;
    }
    .bgImage {
        width: 100%;
        height: 100%
    }
    .subDetailContainer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        h4,
        h5,
        p {
            color: color($colors, secondary);
            margin: 0;
        }
        h4 {
            font-size: 2rem;
            letter-spacing: 0.15rem;
            font-family: 'GT-Walsheim-Medium';
            margin-bottom: 0.6rem;
        }
        h5,
        p {
            font-family: 'GT-Walsheim-Regular';
            font-size: 1.1rem;
        }
        h5 {
            text-transform: uppercase;
        }
    }
    .points-grid {
        background-color: rgba(239, 249, 250, 1);
        padding: 0.8rem 0;
        [col-6] {
            padding: 1.7rem 2rem;
            &+[col-6] {
                border-left: 0.5px solid rgba(172, 219, 219, 0.7);
            }
        }
        .points,
        .points-lbl {
            font-family: 'miso-bold-webfont';
            line-height: 1;
        }
        .points {
            font-size: 4.5rem;
            color: color($colors, bgAndHeader);
            span {
                font-size: 3.2rem;
            }
        }
        .points-lbl {
            color: color($colors, secondary);
            font-size: 1.1rem;
            text-transform: uppercase;
        }
    }
    .next-tier-box {
        padding: 2.5rem 2rem;
        p {
            font-size: 1.5rem;
            margin: 0;
            color: #808080;
        }
    }
    .headingLbl {
        font-size: 2rem;
        margin: 20px 20px 10px 20px;
        color: color($colors, containsColor);
        font-family: GT-Walsheim-regular;
    }
    .dateLbl {
        font-size: 1.7rem;
        margin: 0 20px 20px 20px;
        color: color($colors, containsColor);
        font-family: GT-Walsheim-regular;
    }
    .up-down-icon {
        font-size: 2.5rem;
        padding: 0;
        color: color($colors, containsColor);
        text-align: center;
        position: absolute;
        right: 17px;
        top: 16px;
        &:before {
            font-weight: bold;
        }
    }
    ion-list {
        ion-label {
            div {
                text-transform: none;
                font-size: 0.8em;
                padding: 1em 0;
                white-space: normal;
                text-align: justify;
            }
        }
        ion-icon {
            font-size: 1.8rem;
            padding: 0;
            color: color($colors, containsColor);
            text-align: center;
            position: absolute;
            right: 10px;
            top: 3px;
            &:before {
                font-weight: bold;
            }
        }
    }
    ion-label {
        padding: 16px;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .bottomContainer {
        padding: 2.5rem 2rem;
        background-color: rgba(239, 249, 250, 1);
        h4 {
            color: color($colors, secondary);
            font-size: 1.8rem;
            font-family: 'miso-bold-webfont';
            margin: 0;
        }
        p {
            color: color($colors, containsColor);
            font-size: 1.5rem;

        }
        a {
            color: color($colors, secondary);
            font-size: 1.5rem;
        }
    }
    .detailCol,
    .valueCol {
        height: 50px;
        color: color($colors, containsColor);
        border-bottom: 2px solid #ffffff
    }
    .detailCol {
        background-color: #d7f4ef;
    }
    .valueCol {
        background-color: #f5f5f5;
    }
    .detailCol .button-inner {
        justify-content: flex-start;
        margin-left: 10px;
        color: color($colors, warmgrey);
        font-size: 1.1rem;
        font-family: 'GT-Walsheim-Medium';
    }
    .valueCol ion-icon {
        left: 5px;
        right: 5px;
        padding: 8px
    }
    .offerTitle {
        font-size: 21px !important;
        color: color($colors, containsColor) !important;
        margin-top: 0px;
        font-family: miso-webfont;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
    .offerDescription {
        color: color($colors, containsColor) !important;
        font-size: 15px !important;
    }
    .offerItem {
        padding-left: 0px;
    }
    .offerItem .label {
        padding-left: 0px
    }
    .bookBtn {
        height: 35px;
        width: 180px;
        margin-top: 20px;
    }
    .item-ios .item-button,
    .item-md .item-button,
    .item-wp .item-button {
        height: 35px;
    }
    .bookBtn .button-inner {
        margin-left: -20px
    }
    .dropRightCircle {
        top: inherit;
        color: color($colors, textColor);
    }
    .foodOfferList .item-block:last-child {
        border-bottom: 0px !important;
    }
    a {
        color: #000000 !important;
        text-decoration: underline !important; //color: color($colors,secondary);
    }
}