<custom-header></custom-header>
<ng-template #notLoggedin>
  <ion-content no-padding>
    <div class="innerContainer">
      <div class="subDetailContainer">
        <h3> Please wait, you will be redirected to the login page. </h3>
      </div>
    </div>
  </ion-content>
</ng-template>
<ion-content no-padding *ngIf="accountInfo.length > 0; else notLoggedin">
    <!--{{accountInfo | json}}-->
 <div *ngFor="let result of accountInfo">
    <div class="innerContainer">
      <img src="assets/img/account-details-bg.jpg" class="bgImage">
      <div class="subDetailContainer">
        <h4>Welcome, {{result.First_Name}} </h4>
        <h5>{{result.PatronLoyalty.Current_Tier}}</h5>
        <P>Member No. {{result.Patron_Number}}</P>
      </div>
    </div>
    <ion-grid class="points-grid">
      <ion-row>
        <ion-col col-6>
          <div class="points">{{result.PatronLoyalty.VantagePoints}}</div>
          <div class="points-lbl">Vantage Points</div>
        </ion-col>
        <ion-col col-6>
          <div class="points"><span>$</span>{{result.PatronLoyalty.VantageDollars}}</div>
          <div class="points-lbl">Vantage Dollars</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="next-tier-box">
      <p><strong class="gt-Walsheim-Medium">Next Tier Level Review Date</strong></p>
      <p class="gt-Walsheim-Regular">{{result.PatronLoyalty.Tier_Review_Date |  date:'fullDate'}}</p>
    </div>
    <ion-list>
      <ion-item class="entitlementList"  (click)="toggleHotelDetails()">
        <ion-icon [name]="hotelShowDetailsIcon" item-end></ion-icon>
        Your Hotel Entitlements
        <div *ngIf="hotelShowDetails">
          <ion-grid>
            <ion-row>
              <ion-col ion-button clear class="detailCol" col-10>
                  Nights Available
              </ion-col>
              <ion-col ion-button clear class="valueCol" col-2>
                {{result.PatronHotelEntitlement.Nights_Available}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col ion-button clear class="detailCol" col-10>
                  Nights Remaining
              </ion-col>
              <ion-col ion-button clear class="valueCol" col-2>
                  {{result.PatronHotelEntitlement.Nights_Remaining}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col ion-button clear class="detailCol" col-10>
                  Nights Used
              </ion-col>
              <ion-col ion-button clear class="valueCol" col-2>
                  {{result.PatronHotelEntitlement.Nights_Used}}
              </ion-col>
            </ion-row>
              <ion-row>
                  <ion-col ion-button clear class="detailCol" col-10>
                      Pending Nights
                  </ion-col>
                  <ion-col ion-button clear class="valueCol" col-2>
                      {{result.PatronHotelEntitlement.PendingNights}}
                  </ion-col>
              </ion-row>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>
    <div class="bottomContainer">
      <h4>{{result.all_member_benefits.title}}</h4>
      <p [innerHtml]="allMemberInfo">
          ...
          <!--{{result.all_member_benefits || 'No data found'}}-->
      </p>
        <button ion-button icon-end color="bgAndHeader" (click)="goToAllMemberInfo(result.all_member_benefits.page_to_be_linked)" >
            READ MORE
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        </button>
    </div>
 </div>
</ion-content>
