page-stay-corporate {
  .homeCarousel {
    height: 200px
  }
  .carouselImage {
    width: 100%;
    height: 100%;
  }
  .stayLbl {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .stayContains {
    margin-top: 0;
    padding: 15px 0 15px 0;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }

}
