<custom-header></custom-header>

<ion-content no-padding>
    <div class="innerSubContainer">
        <p class="stayLbl">{{title}}</p>
        <!--<p class="stayContains" [innerHTML] = "content">-->
        <!--</p>-->
        <ng-template #container></ng-template>
        <button ion-button icon-end class="bookBtn" color="bgAndHeader" (click)="bookStayNow()" >
            BOOK YOUR STAY NOW
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        </button>
    </div>
    <ion-list>
        <button ion-item class="stayListItem" *ngFor="let subpage of subPageData" (click)="openDineDetail(subpage)" clear>
            <!--<ion-icon name="ios-beer-outline" item-start></ion-icon>-->
            <img [src]="subpage.iconUrl || 'assets/img/not-available.jpg' "  class="pull-left" style="width: 7%">
            <h2 class="subPageHeading">{{subpage.label}}</h2>
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
    </ion-list>
</ion-content>