<custom-header></custom-header>
<ion-content overflow-scroll="false" class="page-with-share-footer">
    <div class="innerContainer">
        <div class="nameContainer">
            <p class="contactLbl">CONTACT US</p>
        </div>
        <p class="contactContains gt-Walsheim-bold">
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.
        </p> 
    </div>
    <ion-list class="contact-accordion-list">
        <ion-item no-padding no-margin (click)="toggleLocation()">
            <ion-icon [name]="locationicon" item-end></ion-icon>
            The Ville Location
        </ion-item>
        <ion-item no-padding *ngIf="locationShowDetails">
            <ion-label no-padding no-margin>
                <div *ngIf="locationShowDetails" class="innerDiv">
                    <page-location [latlong]="latlongData" (ngModelChange)="latlongData? latlong= latlongData : null"></page-location>
                </div>
            </ion-label>
        </ion-item>

        <ion-item no-padding *ngFor="let d of data" (click)="toggleDetails(d)">
            <ion-icon name="{{d.icon}}" item-end></ion-icon>
            {{d.title}}
            <div *ngIf="d.showDetails" class="innerContainText" [innerHTML] = "d.details" ></div>
        </ion-item>
        <ion-item no-padding no-margin (click)="toggleContactForm()">
            <ion-icon [name]="icon" item-end></ion-icon>
            Contact Form
        </ion-item>
    </ion-list>
    <div *ngIf="showDetails" class="innerDiv contactForm">
        <page-contact-form></page-contact-form>
    </div>
</ion-content>
<share-footer></share-footer>
