page-contact {
  .contactContains {
    color: color($colors, warmgrey);
  }
  .contactImage {
    height: 170px;
    width: 100%
  }
  .contact-accordion-list {
    margin-top: 2rem;
  }
  .innerContainer {
    padding: 16px 16px 0 16px
  }
  .innerContainText{
    a, p {
      font-size: 1.5rem;
    }
    a{
      color: color($colors,secondary);
      font-family: 'GT-Walsheim-Medium';
    }
    .num {
      display: inline-block;
      margin-bottom: 1.5rem;
    }
  }
  .nameContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .contactLbl {
    margin: 0;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-size: 26px;
    font-family: miso-bold-webfont;
  }
  .contactListItem {
    border-bottom: 1px solid #c3efe7;
    color: color($colors, containsColor);
  }
  .listTitle {
    font-size: 18px;
    color: color($colors, secondary);
    margin-top: 0
  }
  .listDescription {
    margin-top: 5px
  }
  .itemContainer {
    border-bottom: 1px solid #c3efe7;
  }
  .up-down-icon {
    font-size: 2.5rem;
    padding: 0;
    color: color($colors, containsColor);
    text-align: center;
    position: absolute;
    right: 17px;
    top: 16px;
    &:before {
      font-weight: bold;
    }
  }
  .innerDiv {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    &.contactForm {
      height: auto;
      min-height: 652px;
    }
  }

  ion-list {
    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
      padding: 0;
    }
    ion-label {
      div {
        text-transform: none;
        font-size: 0.8em;
        padding: 1em 0;
        white-space: normal;
        text-align: justify;
      }
    }
    ion-icon {
      font-size: 1.8rem;
      padding: 0;
      color: color($colors, containsColor);
      text-align: center;
      position: absolute;
      right: 10px;
      top: 3px;
      &:before {
        font-weight: bold;
      }
    }
  }
  ion-label {
    padding: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}