page-home {
  .homeGrid .row {
    //height: 135px;
    padding: 0px;
  }
  .slideImageContainer .slide-zoom {
    height: 100%
  }
  .slideImageContainer img {
    display: block;
    width: 100%;
  }
  .iconMenuFont {
    font-family: icomoon;
    min-height: 1.8rem !important;
    font-size: 1.8rem !important;
    color: color($colors, textColor);
  }
  .toolbar-ios ion-title {
    padding-top: 20px;
    height: calc(58px + 20px);
    min-height: calc(58px + 20px);
  }
  .subMenuButton {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: color($colors, textColor);
    box-shadow: 0px 0px 0px; //border-top: 1px solid #c3efe7;
    border-radius: 0px;
  }
  .subMenuIcon {
    font-size: 4.5em;
    color: color($colors, bgAndHeader);
  }
  .subMenuLbl {
    font-size: 16px;
    color: #808080;
    padding: 0;
    font-family: miso-bold-webfont;
    letter-spacing: 1.2px;
  }
  .right_col,
  .left_col {
    border-bottom: 1px solid #c3efe7;
    height: 154px;
  }
  .left_col {
    border-right: 1px solid transparent;
  }
  .right_col {
    border-right: 1px solid #c3efe7;
  }
  .item ion-thumbnail img {
    width: 85px;
  }
  .home-menu-item {
    //width: 50%;
    width: 47px;
    height: 47px
  }

  
  .subMenuButton,
  .button-inner {
    display: flex;
    justify-content: center;
  }
  .homeGrid .row {
    border-top: 1px solid #c3efe7
  }
  .grid[no-padding]>.row>.col {
    padding: 20px; //  border-top: 1px solid #c3efe7;
    //  border: 0.1pt solid #c3efe7;
  }
  .ios {
    .scroll-content {
      margin-top: 78px
    }
  }
}

.toolbar-ios {
  min-height: 78px;
  padding-top: 24px;
}

.ios {
  .scroll-content {
    margin-top: 78px
  }
  .swiper-slide img .loaded {
    min-height: 92% !important;
  }
}

.read-list {
  .item-block {
    align-items: flex-start;
    border-top: 0.55px solid #c3efe7;
    .item-inner {
      border-bottom: none;
    }
  }
  .item-block:last-child {
    border-bottom: 0.55px solid #c3efe7;
  }
  ion-thumbnail[item-start] {
      margin-top: 17px;
  }
  ion-label {
    white-space: normal;
    margin-top: 13px;
  }
}