<custom-header></custom-header>
<ion-content no-padding>
    <ion-slides *ngIf="sliderData && sliderData.length" class="pageCarousel" [pager]="pagerFlag" autoplay="3000" loop="true">
        <ion-slide *ngFor="let slide of sliderData" class="slideImageContainer">
            <!--<img [src]="slide.slider_image || 'assets/img/not-available.jpg'" class="carouselImage">-->
            <a (click)="bannerClick(slide)" *ngIf="slide.template != 'web-view';else showHrefIonSlider">
                <lazy-img inputSrc="{{slide.slider_image}}" imgClass="{{homeCarouselClassname}}"></lazy-img>
                <div class="ribbon">
                    <strong class="ribbon-content"><h1>{{slide.slider_text}}</h1></strong>
                </div>
            </a>
            <ng-template #showHrefIonSlider>
                <!--<img [src]="slide.slider_image || 'assets/img/not-available.jpg'" class="carouselImage">-->
                <a href="{{slide.page_to_be_linked}}" target="_blank">
                    <lazy-img inputSrc="{{slide.slider_image}}" imgClass="{{homeCarouselClassname}}"></lazy-img>
                    <div class="ribbon">
                        <strong class="ribbon-content"><h1>{{slide.slider_text}}</h1></strong>
                    </div>
                </a>
            </ng-template>
        </ion-slide>
    </ion-slides>
    <ion-grid no-padding class="homeGrid">
        <ion-row no-padding>
            <ion-col *ngFor="let category of subCategory; let i = index"
                     [ngClass]="(((i+1)%2) == 0)?'left_col':'right_col'" col-6>
                <button ion-button class="subMenuButton" (click)="openDineAll($index,category)">
                    <div>
                        <!--<img class="home-menu-item" [src]="category.logo"/>-->
                        <lazy-img inputSrc="{{category.logo}}" imgClass="{{subCatClassname}}"></lazy-img>
                        <br>
                        <!-- <label class="subMenuLbl" text-capitalize>{{category.block_name}}</label> -->
                    </div>
                </button>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-list class="read-list">

        <ion-item *ngFor="let article of homeArticle">
            <ion-thumbnail item-start>
                <lazy-img inputSrc="{{article.featured_image}}" imgClass="{{homeUpdatesClassname}}"></lazy-img>
                <!--<img [src]="article.featured_image || 'assets/img/not-available.jpg'">-->
            </ion-thumbnail>
            <p class="listTitle">{{article.title}}</p>
            <p class="listDescription" [innerHTML]="article.content"></p>
            <button ion-button icon-end color="bgAndHeader" (click)="homeArticleDetail(article)"
                    *ngIf="article.template != 'web-view';else showHrefButton">
                READ MORE
                <ion-icon name="md-arrow-dropright-circle"></ion-icon>
            </button>
            <ng-template #showHrefButton>
                <a href="{{article.page_to_be_linked}}" target="_blank">
                    <button ion-button icon-end color="bgAndHeader">
                        READ MORE
                        <ion-icon name="md-arrow-dropright-circle"></ion-icon>
                    </button>
                </a>
            </ng-template>
        </ion-item>
    </ion-list>
</ion-content>