page-mytest {
  .stayLbl {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .scroll-content {
    padding: 20px;
  }
  .stayContains {
    margin-top: 0;
    padding: 15px 0 15px 0;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }
  .stayListItem {
    height: 60px;
    border-bottom: 1px solid #c3efe7;
    color: color($colors, containsColor);
  }
  .list-md {
    margin-top: 25px;
  }

  .list-md .item-block .item-inner {
    border-bottom: 0
  }
  .list-ios .item-block .item-inner {
    border-bottom: 0
  }

  .list-ios {
    padding-top: 25px;
  }
  .item-block:first-child {
    border-top: 1px solid #c3efe7 !important;
  }
  .item-block:last-child {
    border-bottom: 1px solid #c3efe7 !important;
  }
  ion-label {
    padding: 0;
  }
  .item-md {
    background-color: transparent;
    padding-right: 8px;
  }
  .item-wp {
    background-color: transparent;
    padding-right: 8px;
  }
  .item-ios {
    background-color: transparent;
    padding-right: 16px;
  }
  a{
    color: #000000 !important;
    text-decoration: underline !important;
    //color: color($colors,secondary);
  }
}
