page-notification {
.ion-md-arrow-back:before, .ion-ios-arrow-back:before, .ion-wp-arrow-back:before {
    content: "\f2c0";
    font-size: 3rem;
}
.innerSubContainer {
    padding-bottom: 25px;
}
.notificationLbl {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .item-ios ion-icon[item-left], .item-md ion-icon[item-left], .item-wp ion-icon[item-left] {
      position: absolute;
      top:20px;
      margin-top: 2px;
  } 
  .item-ios h6, .item-md h6, .item-wp h6 {
      margin-bottom: 6px;
      color: color($colors,secondary);
      font-family: 'GT-Walsheim-Bold';
      font-size: 1.1rem;
  }
  .item-ios h2, .item-md h2, .item-wp h2 {
      color: color($colors,containsColor);
      font-weight: 500
  }
  .item-ios p, .item-md p, .item-wp p {
      color: color($colors,containsColor);
      font-size: 1.3rem;
  }
  .item { 
      padding:12px
  }
  .notificationContainer .label-ios {
      position: relative;
      left: 40px;
  }
  .notificationContainer .label-md {
      position: relative;
      left: 20px;
  }
  .label-wp {
      margin: 0;
  }
  .notificationContainer .label-wp {
      position: relative;
      left: 40px;
  }
  .notificationContainer ion-label {
      white-space: inherit
  }
  .noNotificationfound{
    text-align: center;
    padding: 20px !important;
  }
  .list-md {
      margin: 0;
  }
  ion-list {
      border-bottom: 0.5px solid rgba(174, 220, 220, 0.7);
      &:first-of-type {
        border-top: 0.5px solid rgba(174, 220, 220, 0.7);
      }
  }
}
