<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>
<ion-content no-padding *ngIf="(notificationArr.length > 0 || notificationArr == 'null');else showNodataFound">

  <div class="innerSubContainer">
    <p class="pageLbl">NOTIFICATION</p>
  </div>
  <ion-list *ngFor="let notification of notificationArr">
    <ion-item class="notificationContainer" (click)="showNotificationInAlert(notification)">
      <h6>{{notification.time || 'No time found'}}</h6>
      <!--<h2>{{notification.title || 'No Title found'}}</h2>-->
      <p>{{notification.content || 'No Content found '}}.</p>
      <ion-icon class="notificationIcon" name='ios-notifications-outline' *ngIf="notification.status === '1'; else readNotification " item-left></ion-icon>
      <ng-template #readNotification>
        <ion-icon class="notificationIcon" name='notifications' color="notificationBellColor" item-left></ion-icon>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>
<ng-template #showNodataFound class="notificationContainer">
  <ion-content no-padding>
    <h3 class="noNotificationfound">There are no notifications yet</h3>

  </ion-content>
</ng-template>