page-dine-detail {
  .pageImage {
    height: 150px;
    object-fit: cover;
  }
  .pageContains {
    a {
      color: color($colors, secondary);
    }
  }
  .nameContainer {
    flex-wrap: wrap;
  }
  .up-down-icon {
    font-size: 2.5rem;
    padding: 0;
    color: color($colors, containsColor);
    text-align: center;
    position: absolute;
    right: 17px;
    top: 16px;
    &:before {
      font-weight: bold;
    }
  }
  ion-list {
    ion-label {
      div {
        text-transform: none;
        font-size: 0.8em;
        padding: 1em 0;
        white-space: normal;
        text-align: justify;
      }
    }
    .ion-ios-arrow-up:before, .ion-ios-arrow-down:before {
      right: 20px;
      top: 29px;
      bottom: auto;
    }
  }
  ion-label {
    padding: 8px 20px 8px 20px;
  }
  .accordion-main-list >  div > .item {
    padding-left: 0;
  }
  .accordion-main-list >  div:first-child > .item .item-inner {
    border-top: 1px solid #c3efe7;
  }
  .list {
    .innerContainText {
      .item-block {
        .item-inner {
          border-bottom: none;
        }
      }
    }
  }
}