<custom-header></custom-header>
<ion-content class="page-with-share-footer">
    <img src="{{featured_image}}" class="pageImage">
    <div class="innerSubContainer">
        <div class="nameContainer">
            <p class="pageLbl">{{title}}</p> <br>
            <button ion-button icon-end class="bookBtn" color="bgAndHeader">
                BOOK A TABLE NOW
                <ion-icon name="md-arrow-dropright-circle"></ion-icon>
            </button>
        </div>
        <ng-template #container></ng-template>
    </div>
    <ion-list class="accordion-main-list">
        <div *ngFor="let d of tabs">
            <ion-item (click)="toggleDetails(d)" class="">
                <ion-icon name="{{(d.icon == null)?'ios-arrow-down':d.icon}}" item-end></ion-icon>
                {{d.label}}
                <div *ngIf="(d.showDetails && !isArray(d.content))" class="innerContainText" [innerHTML]="(d.content == '' ? 'No data found': d.content)"></div>
            </ion-item>
            <div *ngIf="(d.showDetails && isArray(d.content))" class="innerContainText page-link-list">
                <!--<ion-list style="margin-top: 9px" class="read-list">-->
                <ion-item *ngFor="let subArr of d.content">
                    <ion-thumbnail item-start>
                        <lazy-img inputSrc="{{subArr.featured_image}}"></lazy-img>
                    </ion-thumbnail>
                    <p text-nowrap class="listTitle">{{subArr.title}}</p>
                    <p text-nowrap class="listDescription" [innerHTML]="subArr.content">{{subArr.content}}</p>
                    <button ion-button icon-end color="bgAndHeader" (click)="readMoreCurrentSpe(subArr)">
                                READ MORE
                                <!--<ion-icon name="md-arrow-dropright-circle"  end></ion-icon>-->
                            </button>
                </ion-item>
                <!--</ion-list>-->
            </div>
        </div>
    </ion-list>
</ion-content>
<share-footer></share-footer>