custom-header {
    .toolbar-ios ion-title {
        padding-top: 20px;
        height: calc(58px + 20px);
        min-height: calc(58px + 20px);
    }
}
.header-md::after {
    display: none;
}

.logoContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logoContainer img {
    max-width: 90px;
    display: block;
    margin: 0 auto;
    width: 100%
}

.toolbar-ios {
    min-height: 78px;
    padding-top: 24px;
}

.isLoggedIn {
    .toolbar-title.toolbar-title-md {
        margin-right: 50px;
    }
}

#notification-button {
    position: fixed;
    width: 46px;
    right: 11px;
    overflow: visible !important;
    .bar-button-ios {
        font-size: 1.4rem;
        height: auto;
    }
}

#notifications-badge {
    background-color: color($colors, notificationBellColor);
    position: fixed;
    top: 3px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-family: "miso-bold-webfont";
    padding: 3px;
    zoom:1.0;
    right: 27px;
}

.bar-buttons .button-inner {
    font-size: 2rem;
}