<!-- Generated template for the CustomHeaderComponent component -->
 <ion-header> 
    <ion-navbar no-border-bottom [ngClass]="{'isLoggedIn': (isLoggedinUser == 200)}">

            <ion-nav-buttons side="left">
                    <button class="button button-clear  ion-arrow-left-c  " ng-click="backButton()"></button>
           </ion-nav-buttons>



        <button type="push" ion-button menuToggle>
            <ion-icon class="icon-icon_menu iconMenuFont" color="textColor"></ion-icon>
        </button>
        <div class="logoContainer" (click)="openHomePage()">
            <img class="small-logo" src="assets/img/logo.png" />
        </div>
        <ng-template #ifLoggedInThenShowNotificationMenu>
            <ion-buttons id="notification-button" (click)="openNotification()" color="txtColor" end>
                <button ion-button>
                    <ion-icon name="ios-notifications-outline" color="txtColor" style="zoom:2.0;color: white">
                    </ion-icon>
                    <ion-badge id="notifications-badge" color="danger">{{info.count}}</ion-badge>
                </button>
            </ion-buttons>
        </ng-template>
        <ion-buttons end *ngIf="isLoggedinUser != 200; else ifLoggedInThenShowNotificationMenu">
            <button ion-button icon-only color="textColor" (click)="openLogin()" style="letter-spacing: 1.6px;">
                LOG IN
            </button>
        </ion-buttons>
    </ion-navbar>
 </ion-header> 