// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
    primary: #fff,
    secondary: #0f0071,
    danger: #f53d3d,
    light: #f4f4f4,
    dark: #222,
    textColor : #ffffff,
    bgAndHeader: #87DFCF,
    transparentColor : transparent,
    containsColor : #4d4d4d,
    notificationBellColor: #0029ff,
    warmgrey: #808080,
);

$h6-font-size: 1.2rem;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$list-ios-border-color: #c3efe7;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$list-md-border-color: #c3efe7;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$list-wp-border-color: #c3efe7;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------
// @font-face {
//   font-family: 'icomoon';
//   src: url($font-path + '/icomoon.eot');
//   src: url($font-path + '/icomoon.eot?#iefix') format('embedded-opentype'),
//   url($font-path + '/icomoon.woff') format('woff'),
//   url($font-path + '/icomoon.ttf') format('truetype'),
//   url($font-path + '/icomoon.svg') format('svg');
// }

@font-face {
  font-family: 'icomoon';
  src:  url($font-path +'/icomoon.eot?domcpr');
  src:  url($font-path +'/icomoon.eot?domcpr#iefix') format('embedded-opentype'),
    url($font-path +'/icomoon.ttf?domcpr') format('truetype'),
    url($font-path +'/icomoon.woff?domcpr') format('woff'),
    url($font-path +'/icomoon.svg?domcpr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Walsheim-Black';
  src: url($font-path + '/GT-Walsheim-Black.eot');
  src: url($font-path + '/GT-Walsheim-Black.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/GT-Walsheim-Black.woff') format('woff'),
  url($font-path + '/GT-Walsheim-Black.ttf') format('truetype'),
  url($font-path + '/GT-Walsheim-Black.svg') format('svg');
}

@font-face {
  font-family: 'GT-Walsheim-Bold';
  src: url($font-path + '/GT-Walsheim-Bold.eot');
  src: url($font-path + '/GT-Walsheim-Bold.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/GT-Walsheim-Bold.woff') format('woff'),
  url($font-path + '/GT-Walsheim-Bold.ttf') format('truetype'),
  url($font-path + '/GT-Walsheim-Bold.svg') format('svg');
}

@font-face {
  font-family: 'GT-Walsheim-Medium';
  src: url($font-path + '/GT-Walsheim-Medium.eot');
  src: url($font-path + '/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/GT-Walsheim-Medium.woff') format('woff'),
  url($font-path + '/GT-Walsheim-Medium.ttf') format('truetype'),
  url($font-path + '/GT-Walsheim-Medium.svg') format('svg');
}

@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url($font-path + '/GT-Walsheim-Regular.eot');
  src: url($font-path + '/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/GT-Walsheim-Regular.woff') format('woff'),
  url($font-path + '/GT-Walsheim-Regular.ttf') format('truetype'),
  url($font-path + '/GT-Walsheim-Regular.svg') format('svg');
}

@font-face {
  font-family: 'GT-Walsheim-Light';
  src: url($font-path + '/GT-Walsheim-Light.eot');
  src: url($font-path + '/GT-Walsheim-Light.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/GT-Walsheim-Light.woff') format('woff'),
  url($font-path + '/GT-Walsheim-Light.ttf') format('truetype'),
  url($font-path + '/GT-Walsheim-Light.svg') format('svg');
}

@font-face {
  font-family: 'miso-bold-webfont';
  src: url($font-path + '/mrten_nettelbladt_-_miso-bold-webfont.eot');
  src: url($font-path + '/mrten_nettelbladt_-_miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/mrten_nettelbladt_-_miso-bold-webfont.woff') format('woff'),
  url($font-path + '/mrten_nettelbladt_-_miso-bold-webfont.ttf') format('truetype'),
  url($font-path + '/mrten_nettelbladt_-_miso-bold-webfont.svg') format('svg');
}

@font-face {
  font-family: 'miso-light-webfont';
  src: url($font-path + '/mrten_nettelbladt_-_miso-light-webfont.eot');
  src: url($font-path + '/mrten_nettelbladt_-_miso-light-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/mrten_nettelbladt_-_miso-light-webfont.woff') format('woff'),
  url($font-path + '/mrten_nettelbladt_-_miso-light-webfont.ttf') format('truetype'),
  url($font-path + '/mrten_nettelbladt_-_miso-light-webfont.svg') format('svg');
}

@font-face {
  font-family: 'miso-webfont';
  src: url($font-path + '/mrten_nettelbladt_-_miso-webfont.eot');
  src: url($font-path + '/mrten_nettelbladt_-_miso-webfont.eot?#iefix') format('embedded-opentype'),
  url($font-path + '/mrten_nettelbladt_-_miso-webfont.woff') format('woff'),
  url($font-path + '/mrten_nettelbladt_-_miso-webfont.ttf') format('truetype'),
  url($font-path + '/mrten_nettelbladt_-_miso-webfont.svg') format('svg');
}