page-responsible-service {
.ion-md-arrow-back:before, .ion-ios-arrow-back:before, .ion-wp-arrow-back:before {
    content: "\f2c0";
    font-size: 3rem;
  }
  .responsibleServiceLbl {
  //  margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
    margin-top: 0px
  }
  .superContainer {
      padding: 20px
  }
  .superContainer h6 {
      color: color($colors,secondary);
      font-size: 1.5rem;
  }
  .promotionContains {
    margin-top: 0;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }
  .subHeading {
    color: color($colors, containsColor);
    font-size: 1.8rem;
    font-weight: 500;
  } 



  ion-list {
    ion-item {
      background-color: transparent;
      padding-left: 0;
      position: relative;
      padding: 0;
    }
    ion-label {
      div {
        text-transform: none;
        font-size: 0.8em;
        padding: 1em 0;
        white-space: normal;
        text-align: justify;
      }
    }

    ion-icon {
      font-size: 1.8rem;
      padding: 0;
      color: color($colors, containsColor);
      text-align: center;
      position: absolute;
      right: 10px;
      top: 3px;
      &:before {
        font-weight: bold;
      }
    }

  }

  ion-label {
    padding: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }



}
ion-app.md [padding], ion-app.wp [padding], ion-app.ios [padding] {
  padding: 0px 16px
}