<!--
  Generated template for the ResponsibleServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

<ion-content >
  <div class="superContainer">
  <p class="responsibleServiceLbl">RESPONSIBLE SERVICES</p>
  <h6>RESPONSIBLE SERVICE OF ALCOHOL</h6>
  <p class="promotionContains">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  <p class="subHeading">Policies regarding the service of alcohol</p>
  <p class="promotionContains">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum.</p>
  <h6>RESPONSIBLE GAMBLING</h6>
  <p class="promotionContains">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
    by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage
    of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
    generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the
    Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures</p>
  </div>
  <ion-list>
    <ion-item padding *ngFor="let d of data" (click)="toggleDetails(d)">
      <ion-icon name="{{d.icon}}" item-end></ion-icon>
      {{d.title}}
      <div *ngIf="d.showDetails">{{d.details}}</div>
    </ion-item>
  </ion-list>

</ion-content>