<!--
  Generated template for the JoinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

<ion-content>
    <img src="{{featured_image}}">
    <!--<lazy-img inputSrc="{{featured_image}}"></lazy-img>-->
    <div class="innerContainer">
        <div class="nameContainer">
            <h2 class="joinLbl">{{title}}</h2>
        </div>
        <div class="subContain">
            <ng-template #container></ng-template>
        </div>
    </div>
</ion-content>