page-join {
  .joinImage {
    height: 170px;
    width: 100%
  }
  .innerContainer {
    padding: 16px 16px 0px 16px
  }
  .nameContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .joinLbl {
    color: color($colors, bgAndHeader);
    margin: 0px;
    font-size: 2.6rem;
    font-family: miso-bold-webfont;
    letter-spacing: 0.3rem;
  }
  .joinContains {
    //margin: 0px;
    margin: 15px 0px 15px 0px;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }
  .subContain {
    color: #808080;
    h5, a {
      color: #0a1971;
    }
    a {
      text-decoration: underline;
    }
  }
  .subHeading {
      padding-top : 30px; 
      color: color($colors,secondary);
  }
  .joinContains a {
      color: color($colors,secondary);
  }
}
