// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.iconFont {
  font-family: icomoon;
  min-height: 1.9rem !important;
  font-size: 1.9rem !important;
  color: color($colors, textColor);
}

// icomoon
.icon-icon_corporate:before {
  content: "\e900";
}

.icon-icon_facilities:before {
  content: "\e901";
}

.icon-icon_packages:before {
  content: "\e902";
}

.icon-icon_rooms:before {
  content: "\e903";
}

.icon-icon_aqua:before {
  content: "\e904";
}

.icon-icon_missSongs:before {
  content: "\e905";
}

.icon-icon_spin:before {
  content: "\e906";
}

.icon-icon_sportBar:before {
  content: "\e907";
}

.icon-icon_alerts:before {
  content: "\e908";
}

.icon-icon_emailSubscription:before {
  content: "\e909";
}

.icon-icon_locationServices:before {
  content: "\e90a";
}

.icon-icon_pushNotifications:before {
  content: "\e90b";
}

.icon-notifications_read:before {
  content: "\e90c";
  color: #d7d7d7;
}

.icon-notifications_unRead:before {
  content: "\e90d";
  color: #0a1971;
}

.icon-icon_error .path1:before {
  content: "\e90e";
  color: rgb(10, 25, 113);
}

.icon-icon_error .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icon_error .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-icon_swipe:before {
  content: "\e911";
  color: #fff;
}

.icon-icon_dine:before {
  content: "\e912";
}

.icon-icon_functionRooms:before {
  content: "\e913";
}

.icon-icon_gaming:before {
  content: "\e914";
}

.icon-icon_stay:before {
  content: "\e915";
}

.icon-MainLogo:before {
  content: "\e916";
  color: #fff;
}

.icon-icon_about:before {
  content: "\e917";
  color: #fff;
}

.icon-icon_casinoPromotions:before {
  content: "\e918";
}

.icon-icon_contact:before {
  content: "\e919";
}

.icon-icon_dining:before {
  content: "\e91a";
}

.icon-icon_entertainment:before {
  content: "\e91b";
}

.icon-icon_notifications:before {
  content: "\e91c";
}

.icon-icon_settings:before {
  content: "\e91d";
}

.icon-icon_stay2:before {
  content: "\e91e";
}

.icon-icon_vantageRewards:before {
  content: "\e91f";
}

.icon-accordion_chevron:before {
  content: "\e920";
  color: #808080;
}

.icon-BTN_chevron:before {
  content: "\e921";
  color: #fff;
}

.icon-BTN_chevronReverse:before {
  content: "\e922";
  color: #64d7c3;
}

.icon-navBar_chevron:before {
  content: "\e923";
  color: #808080;
}

.icon-social_Facebook:before {
  content: "\e924";
  color: #eff9fa;
}

.icon-social_insta:before {
  content: "\e925";
  color: #eff9fa;
}

.icon-social_linkedIn:before {
  content: "\e926";
  color: #eff9fa;
}

.icon-social_Twitter:before {
  content: "\e927";
  color: #eff9fa;
}

.icon-tick:before {
  content: "\e928";
  color: #9a9a9a;
}

.icon-Header_Logo:before {
  content: "\e929";
  color: #fff;
}

.icon-icon_back:before {
  content: "\e92a";
  color: #fff;
}

.icon-icon_close:before {
  content: "\e92b";
  color: #fff;
}

.icon-icon_menu:before {
  content: "\e92c";
  color: #fff;
}

.icon-icon_notifications2:before {
  content: "\e92d";
  color: #fff;
}

.ion-ios-arrow-up:before,
.ion-ios-arrow-down:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 8px;
  top: 0;
  background-repeat: no-repeat;
  right: 0;
  transition: all 0.5s;
  bottom: 0;
  margin: auto;
  background-image: url("../assets/icon/accordion_chevron.svg");
}

.ion-ios-arrow-up:before {
  transform: rotate(-180deg);
}

//  end

body,
ion-app.ios,
ion-app.md {
  font-family: 'GT-Walsheim-light';
}

/* Global Font style and Font Class */
.gt-Walsheim-black {
  font-family: 'GT-Walsheim-Black';
}
.gt-Walsheim-bold {
  font-family: 'GT-Walsheim-Bold';
}
.gt-Walsheim-Medium {
  font-family: 'GT-Walsheim-Medium';
}
.gt-Walsheim-Regular {
  font-family: 'GT-Walsheim-Regular';
}
.gt-Walsheim-Light {
  font-family: 'GT-Walsheim-Light';
}
.miso-webfont {
  font-family: 'miso-webfont';
}
.miso-webfont {
  font-family: 'miso-webfont';
}
.miso-bold-webfont {
  font-family: 'miso-bold-webfont';
}
.miso-light-webfont {
  font-family: 'miso-light-webfont';
}
p {
  font-family: 'GT-Walsheim-light';
}
h5 {
  font-family: 'miso-bold-webfont';
  letter-spacing: 0.2rem;
}

// End

.item-md p,
.menu-inner, .sideMenu {
  width: 100% !important;
}

.outer-content, .content-ios.outer-content {
  background-color: color($colors, secondary);
}

.menuItem {
  color: color($colors, textColor);
  background-color: transparent;
}

.menuUl {
  margin: 0;
}

.li {
  border-bottom: 1px solid #7a66ff
}

.item-inner, .list-wp .item-block .item-inner {
  border-width: 0;
  padding-right: 0;
}

.side-close-button {
  margin-top: -5px
}

.side-close-button ion-icon {
  font-size: 3rem
}

.back-button-icon-md {
  color: color($colors, textColor);
}

.bar-button-md[icon-only] ion-icon, .bar-button-ios[icon-only] ion-icon, .bar-button-wp[icon-only] ion-icon {
  font-size: 3rem;
}

.bar-button {
  font-family: miso-light-webfont;
  text-transform: uppercase;
  opacity: 1 !important;
}

.bookBtn {
  height: 2.7rem
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
  border-style: none;
}

.drawer-nav .toolbar-background-ios, .drawer-nav .toolbar-background-md, .drawer-nav .toolbar-background-wp {
  border-color: transparent;
  background: color($colors, secondary);
}

.toolbar-background-ios, .toolbar-background-md, .toolbar-background-wp {
  border-color: transparent;
  background: color($colors, bgAndHeader);
}

.slide-top-logo {
  width: 15% !important;
}

.slide-title {
  color: color($colors, textColor);
}

.swiper-pagination-bullet-active {
  background: color($colors, textColor);
}

ion-slide h6 {
  padding-bottom: 50px;
  font-family: GT-Walsheim-Regular;
  font-weight: bold;
  letter-spacing: 0.4em;
}

.button-ios {
  border-radius: 0;
}

ion-menu ion-item {
  cursor: pointer;
}

.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner, .item-inner {
  background-image: none;
  padding-right: 0;
}

ion-thumbnail img, .item-ios ion-thumbnail {
  width: 80px;
  height: 80px;
}

.innerContainer {
  vertical-align: middle;
}

.back-button.show-back-button {
  margin: 0 6px;
  width: 44px
}

.back-button-icon-md, .back-button-icon-ios, .back-button-icon-wp {
  font-size: 2.9rem
}

.ion-ios-arrow-back:before, .ion-md-arrow-back:before, .ion-wp-arrow-back:before {
  content: "\f27d";
  font-size: 3rem;
  color: color($colors, textColor)
}

.side-menu {
  font-family: GT-Walsheim-Light;
}

.read-list .button-inner {
  font-family: miso-webfont;
  font-weight: bold;
  letter-spacing: 3px;
}

.listTitle {
  font-size: 21px !important;
  color: color($colors, secondary) !important;
  margin-top: 0px;
  font-family: miso-webfont;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.listDescription {
  margin-top: 5px;
  font-family: GT-Walsheim-Light;
}

.pageTopImage {
  width: 100%
}

.pageCarousel {
  min-height: 150px;
  height: auto;

  button.swiper-pagination-bullet {
    border: 0.5px solid color($colors, secondary)
  }
  .swiper-pagination-bullet {
    background: #fff;
    opacity: initial
  }
  .swiper-pagination-bullet-active {
    background: color($colors, secondary)
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
  }

  .carouselImage {
    width: 100%;
    height: 100%;
  }

  .ribbon {
    position: absolute;
    text-align: center;
    font-size: 14px !important;
    background: #87DFCF;
    bottom: 2em;
  }
  .ribbon h1 {
    font-size: 1.3em;
    color: #FFFFFF;
    margin: 0px;
    padding: 8px 8px;
    font-family: miso-webfont;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .ribbon:after {
    content: '';
    position: absolute;
    display: block;
    border: 1.32em solid #87DFCF;
    right: -3em;
    top: 0px;
    border-left-width: 1.8em;
    border-right-color: transparent;
  }
}

.pageLbl {
  margin: 0;
  font-size: 2.7rem;
  font-family: "miso-bold-webfont";
  color: color($colors, bgAndHeader);
  letter-spacing: 0.3rem;
}

.innerSubContainer {
  padding: 25px 20px 60px 25px;
}

.pageContains {
  margin-top: 0;
  padding: 15px 0 15px 0;
  color: color($colors, containsColor);
  font-size: 1.5rem;
  font-family: 'GT-Walsheim-Light';
}

.pageContains {
  a {
    color: color($colors, secondary);
  }
}

.promoImage {
  height: 100%;
  width: 100%
}

.ion-ios-arrow-back:before, .ion-md-arrow-back:before, .ion-wp-arrow-back:before {
  content: "\f27d";
  font-size: 3rem;
}

.hamburgerMenu {
  font-size: 3rem !important;
  color: color($colors, textColor);
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.loading-md .loading-wrapper, .loading-ios .loading-wrapper, .loading-wp .loading-wrapper {
  background: color($colors, bgAndHeader);
  color: color($colors, textColor);
  border-radius: 8px;
  // padding: 24px 34px;
  padding: 20px
}

.loading-md .spinner-crescent circle {
  stroke: color($colors, textColor);
}

.loading-ios .spinner-ios line {
  stroke: color($colors, textColor);
}

.ios {
  .scroll-content {
    margin-top: 78px
  }
}

.wp {
  .scroll-content {
    margin-top: 56px
  }
}

.md {
  .scroll-content {
    margin-top: 56px
  }
}

.toolbar-ios {
  min-height: 56px;
}

.toolbar-ios ion-title {
  padding-top: 20px;
  height: calc(58px + 20px);
  min-height: calc(58px + 20px);
}

.loading-ios {
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  top: 78px;
}

.loading-md {
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  top: 58px;
}

.loading-wp {
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  top: 58px;
}

ion-backdrop.backdrop-no-tappable {
    background-color: #fff;
    opacity: 1
  }

.icon-icon_casinoHomePage{
    content: "\f015";
  }

.alertExit ,  .alertCancel{
  color: #000000 !important;
}

ion-app [padding-bottom], 
ion-app [padding-bottom] .scroll-content {
  padding-bottom: 60px;
}
.bookBtn {
  height: 3.5rem;
  
}
.menu-list .list-ios .item-block .item-inner,
.menu-list .list-md .item-block .item-inner {
  border-bottom: none;
}
.menu-list .list-md .item-block .menuUl {
  padding-left: 30px;
}
.menu-list .list-md .item-block .item-inner {
  margin-left: 15px;
}
.menu-list .item-md ion-icon {
  margin-right: 0;
}
.menu-list .item-block {
  justify-content: flex-start;
}
.menu-list ion-item,
.menu-list ion-item:first-child,
.menu-list ion-item:last-child {
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
}
.menu-list ion-item,
.menu-list ion-item:first-child {
  border-top-width: 1px;
}
.menu-list ion-item:last-child {
  border-bottom-width: 1px;
}
.menu-list ion-item:first-child {
  margin-top: 15px;
}
.menu-list ion-item.subInnerMenuItem {
  border-top: none;
}
.subInnerMenuItem .input-wrapper {
  border-top: 0.2px solid #302485;
}
.innerSubContainer--with-border {
  border-bottom: 0.5px solid rgba(174,220,220,0.7);
  margin-bottom: 1px;
  padding: 16px;
}
.button-inner {
  font-family: miso-webfont;
  font-weight: bold;
  letter-spacing: 3px;
}
.notification-button-menu {
  position: relative;
  right: 11px;
  overflow: visible !important;
  .bar-button-ios {
    font-size: 1.4rem;
    height: auto;
  }
}

.notifications-badge {
  background-color: color($colors, bgAndHeader);
  color: color($colors, notificationBellColor);
  position: fixed;
  top: 3px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-family: "miso-bold-webfont";
  padding: 3px;
  zoom:1.0;
  right: 27px;
}

.bar-buttons .button-inner {
  font-size: 2rem;

}
.content-md,
.content-ios,
.item-ios:not(.menuItem) {
  color: color($colors, warmgrey);
}
ng-component {
  p {
    a {
      color: color($colors, secondary);
      text-decoration: underline;
    }
  }
}
.page-link-list {
  .item {
    align-items: flex-start;
    border-bottom: 0.55px solid #c3efe7;
    ion-thumbnail {
      margin-top: 17px;
      img {
        width: 85px;
        height: 85px !important;
      }
    }
    .item-inner {
      border-bottom-width: 0; 
      ion-label {
        white-space: normal;
        margin-top: 13px;
        padding: 0;
      }
    }
  }
}

.page-with-share-footer {
  .scroll-content {
    padding-bottom: 60px;
  }
}


/* ICON */
not(page-home-launch) .ion-ios-arrow-forward:before {
  background-image: url("../assets/icon/navBar_chevron.svg");
  content: "";
  width: 9px;
  height: 15px;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 20px;
}