<ion-split-pane>
    <!-- Side menu -->
    <ion-menu class="sideMenu" id="loggedOutMenu" type="reveal" [content]="content">
        <ion-header>
            <ion-navbar class="drawer-nav" no-border-bottom>
                <button type="push" ion-button menuToggle class="side-close-button">
                    <ion-icon name="md-close" color="textColor"></ion-icon>
                </button>
                <div class="logoContainer" menuToggle>
                    <img class="small-logo" src="assets/img/logo.png"/>
                </div>

                <ng-template #ifLoggedInThenShowNotificationMenu>
                    <ion-buttons class="notification-button-menu" (click)="openNotification()" color="txtColor" end>
                        <button ion-button>
                            <ion-icon name="ios-notifications-outline" color="txtColor" style="zoom:2.0;color: white">
                            </ion-icon>
                            <ion-badge class="notifications-badge" color="danger">{{info.count}}</ion-badge>
                        </button>
                    </ion-buttons>
                </ng-template>
                <div style="display: none;" *ngIf="isLoggedinUser != 200; else ifLoggedInThenShowNotificationMenu"></div>
            </ion-navbar>
        </ion-header>
        <ion-content class="outer-content menu-list">
            <ion-list cl>
                <ion-item class="menuItem" menuClose (click)="openAccountDetail()">
                    Vantage Rewards
                    <ion-icon class="icon-icon_vantageRewards iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem subInnerMenuItem" menuClose (click)="openLogin()" *ngIf="isLoggedinUser != 200; else ifLoggedInThenShowLogoutMenu">
                    <ul class="menuUl">
                        <li>Log In</li>
                    </ul>
                    <ion-icon name='color-wand' class="hideIcon" color="transparentColor" item-start></ion-icon>
                </ion-item>
                <ng-template #ifLoggedInThenShowLogoutMenu>
                    <ion-item class="menuItem subInnerMenuItem" menuClose (click)="logoutFromApp()" >
                        <ul class="menuUl">
                            <li>Log Out</li>
                        </ul>
                        <ion-icon name='color-wand' class="hideIcon" color="transparentColor"item-start></ion-icon>
                    </ion-item>
                </ng-template>
                <ion-item menuClose (click)="openJoin()" class="menuItem subInnerMenuItem" *ngIf="isLoggedinUser != 200">
                    <ul class="menuUl">
                        <li>Join Us</li>
                    </ul>
                    <ion-icon name='color-wand' class="hideIcon" color="transparentColor" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem subInnerMenuItem" menuClose (click)="openMemberShip()" >
                    <ul class="menuUl">
                        <li>Member Benefits</li>
                    </ul>
                    <ion-icon name='color-wand' class="hideIcon" color="transparentColor" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose
                          (click)="openPromotion()">
                    Casino Promotions
                    <ion-icon class="icon-icon_casinoPromotions iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openDineAll()">
                    Dining
                    <ion-icon class="icon-icon_dining iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openEvent()">
                    Entertainment
                    <ion-icon class="icon-icon_entertainment iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openStayAll()">
                    Stay
                    <ion-icon class="icon-icon_stay iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openAbout()">
                    About
                    <ion-icon class="icon-icon_about iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openContact()">
                    Contact
                    <ion-icon class="icon-icon_contact iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openNotification()" *ngIf="isLoggedinUser == 200">
                    Notifications
                    <ion-icon class="icon-icon_notifications iconFont" item-start></ion-icon>
                </ion-item>
                <ion-item class="menuItem" menuClose (click)="openSetting()" *ngIf="isLoggedinUser == 200">
                    Settings
                    <ion-icon class="icon-icon_settings iconFont" item-start></ion-icon>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <!-- main root element -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>