page-home-launch {
  .content {
    background-color: color($colors, bgAndHeader);
  }
  .slide-zoom {
    height: 100%;
  }
  .slide-title {
    margin-top: 3.8rem;
  }
  .slide-image {
    max-width: 60%;
    margin: 48px 0;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 82px;
  }
  ion-slide h6 {
    margin-bottom: 0.4rem;
  }
}
