<ion-header no-border>
    <ion-navbar>
        <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="primary">Skip</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

        <ion-slide>
            <h6 class="slide-title">TOWNSVILLE QUEENSLAND</h6>
            <div>
                <img src="assets/img/small-logo.png" class="slide-top-logo"/>
            </div>

            <img src="assets/img/logo_.png" class="slide-image"/>
            <h6 class="slide-title">RESORT - CASINO</h6>
        </ion-slide>

        <ion-slide>
            <h6 class="slide-title">TOWNSVILLE QUEENSLAND</h6>
            <div>
                <img src="assets/img/small-logo.png" class="slide-top-logo"/>
            </div>

            <img src="assets/img/logo_.png" class="slide-image"/>
            <h6 class="slide-title">DINE</h6>
        </ion-slide>

        <ion-slide>
            <h6 class="slide-title">TOWNSVILLE QUEENSLAND</h6>
            <div>
                <img src="assets/img/small-logo.png" class="slide-top-logo"/>
            </div>

            <img src="assets/img/logo_.png" class="slide-image"/>
            <h6 class="slide-title">STAY</h6>
        </ion-slide>

        <ion-slide>
            <h6 class="slide-title">TOWNSVILLE QUEENSLAND</h6>
            <div>
                <img src="assets/img/small-logo.png" class="slide-top-logo"/>
            </div>

            <img src="assets/img/logo_.png" class="slide-image"/>
            <h6 class="slide-title" (click)="startApp()">
                CONTINUE
                <ion-icon name="arrow-round-forward"></ion-icon>
            </h6>

        </ion-slide>

    </ion-slides>
</ion-content>
