<!--
  Generated template for the StayBookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>
<ion-content no-padding>
    <div class="innerContainer">
        <div class="nameContainer">
            <p class="stayLbl">BOOK YOUR STAY NOW</p>
        </div>
    </div>
    <div class="innerContainer">
        <div style="height:100vh !important;">
            <ion-list no-lines no-padding no-margin>
                <form [formGroup]="bookYourStayForm">

                    <!--<ion-label-->
                            <!--[ngClass]="(!bookYourStayForm.controls.room_type.valid  && (bookYourStayForm.controls.room_type.dirty || submitAttempt))?'highlightLbl':'blue-text'">-->
                        <!--Select your room type-->
                    <!--</ion-label>-->
                    <!--<ion-item [ngClass]="(!bookYourStayForm.controls.room_type.valid  && (bookYourStayForm.controls.room_type.dirty || submitAttempt))?'highlightBox':'itemContainer'" no-margin>-->
                        <!--<ion-select formControlName="room_type" interface="popover">-->
                            <!--<ion-option value="" checked="true" selected="true">SELECT ROOM TYPE</ion-option>-->
                            <!--<ion-option *ngFor="let data of roomTypes" value="{{data}}">{{data}}</ion-option>-->
                        <!--</ion-select>-->
                    <!--</ion-item>-->
                    <!--<div *ngIf="!bookYourStayForm.controls.room_type.valid  && (bookYourStayForm.controls.room_type.dirty || submitAttempt)">-->
                        <!--<p style="color:red">Please select a room type.</p>-->
                    <!--</div>-->

                    <ion-label
                            [ngClass]="(!bookYourStayForm.controls.date_in.valid  && (bookYourStayForm.controls.date_in.dirty || submitAttempt))?'highlightLbl':'blue-text'">
                        Arrival date*
                    </ion-label>
                    <ion-item [ngClass]="(!bookYourStayForm.controls.date_in.valid  && (bookYourStayForm.controls.date_in.dirty || submitAttempt))?'highlightBox':'itemContainer'" no-margin>
                        <input type="date" formControlName="date_in" placeholder="ARRIVAL DATE" (change)="showDatePicker()" [(ngModel)]="date"/>
                    </ion-item>
                    <div *ngIf="!bookYourStayForm.controls.date_in.valid  && (bookYourStayForm.controls.date_in.dirty || submitAttempt)">
                        <p style="color:red">Please select a date.</p>
                    </div>

                    <ion-label
                            [ngClass]="(!bookYourStayForm.controls.length.valid  && (bookYourStayForm.controls.length.dirty || submitAttempt))?'highlightLbl':'blue-text'">
                        Nights*
                    </ion-label>
                    <ion-item [ngClass]="(!bookYourStayForm.controls.length.valid  && (bookYourStayForm.controls.length.dirty || submitAttempt))?'highlightBox':'itemContainer'" no-margin>
                        <ion-select formControlName="length" interface="popover">
                            <ion-option value="1" checked="true" selected="true">1</ion-option>
                            <ion-option value="2">2</ion-option>
                            <ion-option value="3">3</ion-option>
                            <ion-option value="4">4</ion-option>
                            <ion-option value="5">5</ion-option>
                            <ion-option value="6">6</ion-option>
                            <ion-option value="7">7</ion-option>
                            <ion-option value="8">8</ion-option>
                            <ion-option value="9">9</ion-option>
                            <ion-option value="10">10</ion-option>
                            <ion-option value="11">11</ion-option>
                            <ion-option value="12">12</ion-option>
                            <ion-option value="13">13</ion-option>
                            <ion-option value="14">14</ion-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="!bookYourStayForm.controls.length.valid  && (bookYourStayForm.controls.length.dirty || submitAttempt)">
                        <p style="color:red">Please select number of nights.</p>
                    </div>

                    <ion-label
                            [ngClass]="(!bookYourStayForm.controls.adults.valid  && (bookYourStayForm.controls.adults.dirty || submitAttempt))?'highlightLbl':'blue-text'">
                        Adults*
                    </ion-label>
                    <ion-item [ngClass]="(!bookYourStayForm.controls.adults.valid  && (bookYourStayForm.controls.adults.dirty || submitAttempt))?'highlightBox':'itemContainer'" no-margin>
                        <ion-select formControlName="adults" interface="popover">
                            <ion-option value="1" checked="true" selected="true">1</ion-option>
                            <ion-option value="2">2</ion-option>
                            <ion-option value="3">3</ion-option>
                            <ion-option value="4">4</ion-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="!bookYourStayForm.controls.adults.valid  && (bookYourStayForm.controls.adults.dirty || submitAttempt)">
                        <p style="color:red">Please select number of adults.</p>
                    </div>

                    <ion-label
                            [ngClass]="(!bookYourStayForm.controls.children.valid  && (bookYourStayForm.controls.children.dirty || submitAttempt))?'highlightLbl':'blue-text'">
                        Children*
                    </ion-label>
                    <ion-item [ngClass]="(!bookYourStayForm.controls.children.valid  && (bookYourStayForm.controls.children.dirty || submitAttempt))?'highlightBox':'itemContainer'" no-margin>
                        <ion-select formControlName="children" interface="popover">
                            <ion-option value="0" checked="true" selected="true">0</ion-option>
                            <ion-option value="1">1</ion-option>
                            <ion-option value="2">2</ion-option>
                            <ion-option value="3">3</ion-option>
                            <ion-option value="4">4</ion-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="!bookYourStayForm.controls.children.valid  && (bookYourStayForm.controls.children.dirty || submitAttempt)">
                        <p style="color:red">Please select number of children.</p>
                    </div>
                </form>
            </ion-list>
            <button ion-button icon-end class="bookBtn" (click)="save()" color="bgAndHeader">
                Submit
                <ion-icon class="dropRightCircle" name="md-arrow-dropright-circle"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>
