page-stay-book {
  .innerContainer {
    padding: 16px 16px 0 16px
  }
  .nameContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .stayLbl {
    margin: 0;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-size: 26px;
    font-family: miso-bold-webfont;
  }
  ion-label {
    padding: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .text-input {
    margin: 0;
    border: none
  }
  .blue-text {
    color: color($colors, secondary);
    padding-left: 0px;
    font-size: 1.5rem;
  }
  .select-wp{
    border: none
  }
  .bookBtn {
    height: 35px;
    width: 120px;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .dropRightCircle {
    top: inherit;
    color: color($colors, textColor);
  }

  .list-md[no-lines] .item-block {
    &.highlightBox {
      border: 1px solid red;
      height: 1vh;
      border-width: thin;
    }
    border: 1px solid gray;
    height: 1vh;
    border-width: thin;
  }
  .list-wp[no-lines] .item-block {
    border: 1px solid gray;
    height: 1vh;
    border-width: thin;
  }
  .item-block:last-child {
    border: 1px solid gray;
  }
  .list-ios[no-lines] .item {
    border-width: thin;
  }
  .itemContainer {
    border: 1px solid gray;
    height: 1vh;
  }
  .label-md{
    margin: 13px 8px 0 0;
  }
  .highlightLbl {
    color: red;
    padding-left: 0px;
    font-size: 1.5rem;
  }
  .label-ios[stacked], .label-md[stacked], .label-wp[stacked] {
    font-size: 1.5rem;
  }
  .item-input ion-input {
    font-size: 1.5rem;
    border: none;
  }
  .item-input ion-textarea {
    font-size: 1.5rem;
    border: none;
  }

  .alert-ios .alert-button {
    color: #000000 !important;
  }

  ion-select {
    width: 100%;
    max-width: 100%;
    .select-text {
      width: 100%;
      overflow: visible;
    }
    .select-md .select-icon {
      position: absolute;
      width: 12px;
      height: 19px;
      right: 10px;
    }
  }
  ion-select.select-ios {
    padding: 11px 8px 11px 0;
  }
  ion-select.select-md {
    padding: 13px 8px 13px 0px;
  }

  input[type="date"] {
    display: block;
    border: 0 !important;
    background: none;
    position: absolute;
    left: 8px;
    top: 8px;
    width:100%;
    -webkit-appearance: none;
  }
}

.item-radio-checked.item-md ion-label {
  color: color($colors, bgAndHeader);
}
.radio-md .radio-checked {
  border-color: color($colors, bgAndHeader);
}
.radio-ios {
  .radio-checked {
    .radio-inner {
      border-color: color($colors, warmgrey);
    }
  }
}
.item-radio-checked.item-radio ion-label {
  color: color($colors, bgAndHeader);
}