<custom-header></custom-header>

<ion-content no-padding>
    <div class="innerSubContainer innerSubContainer--with-border ">
        <p class="roomsLbl pageLbl">{{title}} </p>
    </div>
    <ion-list class="page-link-list">
        <ion-item *ngFor="let room of roomData" >
            <ion-thumbnail item-start>
                <lazy-img inputSrc="{{room.featured_image || 'assets/img/not-available.jpg'}}"></lazy-img>
                <!--<img  [src]="room.featured_image || 'assets/img/not-available.jpg'">-->
            </ion-thumbnail>
            <p class="listTitle">{{room.title}}</p>
            <p class="listDescription" [innerHTML]="room.content"></p>
            <button ion-button icon-end color="bgAndHeader" (click)="roomDetail($index,room)">
                READ MORE
                <ion-icon name="md-arrow-dropright-circle"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>