page-stay-rooms {
  .innerContainer {
    padding: 16px 16px 0 16px
  }
  .nameContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .roomsLbl {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .listTitle {
    font-size: 18px;
    color: color($colors, secondary);
    margin-top: 0
  }
  .listDescription {
    margin-top: 5px
  }
  .item-block:first-child {
    border-top: none !important;
  }
  .item-block:last-child {
    border-bottom: 1px solid #c3efe7 !important;
  }
  .item-ios,
  .item-md,
  .item-wp {
    padding: 0 20px0 20px;
    border-bottom: 0.55px solid #c3efe7;
  }
  .item-block .item-inner {
    border: none !important;
  }
  .item ion-thumbnail img {
    width: 85px;
    height: 85px !important;
    border-radius: 0;
    overflow: hidden;
    object-fit: cover;
    max-width: 85px;
  }
  ion-app.ios [padding],
  ion-app.ios [padding] .scroll-content {
    padding: 0;
  }
  lazy-img img {
    height: auto !important;
  }
}