<!-- Generated template for the ShareFooterComponent component -->
<ion-footer>
    <div class="shareContainer">
        <label class="sharelbl">FOLLOW US</label>
        <button ion-button clear icon-only color="textColor" (click)="openInAppBrowser('https://www.facebook.com/thevilletsv/')">
            <ion-icon name="logo-facebook" class="shareIcon" color="textColor"></ion-icon>
        </button>
        <button ion-button clear icon-only color="textColor" (click)="openInAppBrowser('https://twitter.com/thevilletsv')">
            <ion-icon name="logo-twitter" class="shareIcon" color="textColor"></ion-icon>
        </button>
        <button ion-button clear icon-only color="textColor" (click)="openInAppBrowser('https://www.instagram.com/thevilletsv/')">
            <ion-icon name="logo-instagram" class="shareIcon" color="textColor"></ion-icon>
        </button>
        <button ion-button clear icon-only color="textColor" (click)="openInAppBrowser('https://www.linkedin.com/company/the-ville-resort-casino')">
            <ion-icon name="logo-linkedin" class="shareIcon" color="textColor"></ion-icon>
        </button>
    </div>
</ion-footer>