.shareContainer {
  height: 60px;
  background: color($colors, secondary);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shareContainer label {
  color: color($colors, textColor);
  margin-left: 15px;
  font-family: 'miso-bold-webfont';
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
