<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

<ion-content padding>

  <div class="innerSubContainer innerSubContainer--with-border">
    <p class="pageLbl">SETTINGS</p> 
  </div>
  <ion-list>
    <ion-item>
      <ion-toggle color="bgAndHeader" checked="{{ (isPushNotificationOn == '1') ? true: false}}"  [(ngModel)]="isPushNotificationOn" (ionChange)="notify('isPushNotificationOn', isPushNotificationOn)"></ion-toggle>
      <ion-label>
        Push Notifications
      </ion-label>
      <ion-icon class="icon-icon_pushNotifications settingIconFont" item-start></ion-icon>
    </ion-item>


    <ion-item>
      <ion-toggle color="bgAndHeader" checked="{{ (isEmailSubs == '1') ? true: false}}" [(ngModel)]="isEmailSubs" (ionChange)="notify('isEmailSubs', isEmailSubs)"></ion-toggle>
      <ion-label>
        Email Subscription
      </ion-label>
      <ion-icon class="icon-icon_emailSubscription settingIconFont" item-start></ion-icon>
    </ion-item>

    <ion-item>
      <ion-toggle color="bgAndHeader" checked="{{ (isLocationService == '1') ? true: false}}" [(ngModel)]="isLocationService" (ionChange)="notify('isLocationService', isLocationService)"></ion-toggle>
      <ion-label>
        Location Services
      </ion-label>
      <ion-icon class="icon-icon_locationServices settingIconFont" item-start></ion-icon>
    </ion-item>

    <!--<ion-item>-->
      <!--<ion-toggle color="bgAndHeader" checked="false"></ion-toggle>-->
      <!--<ion-label>-->
        <!--Alerts-->
      <!--</ion-label>-->
      <!--<ion-icon class="icon-icon_alerts settingIconFont" item-start></ion-icon>-->
    <!--</ion-item>-->


  </ion-list>
</ion-content>