page-setting {
    .scroll-content {
        padding: 0 !important;
    }
    .innerSubContainer,
    .item-ios, .item-md, .item-wp {
        padding: 16px;
    }
    .item-ios, .item-md, .item-wp {
        border-bottom: 0.5px solid rgba(174,220,220,0.7);
    }
    .innerSubContainer {
        margin-bottom: 1px;
    }
    .settingIconFont {
    font-family: icomoon;
    min-height: 2.2rem !important;
    font-size: 2.2rem !important;
    color: color($colors,containsColor);
    }
    .settingLbl {
        margin: 0;
        font-size: 26px;
        font-weight: 500;
        color: color($colors, bgAndHeader);
        text-align: left;
        font-family: miso-bold-webfont;
    }
    .item-ios, .item-md, .item-wp{
        color: color($colors,containsColor);
    }
    .item-inner {
        border-bottom-width: 0 !important;
    }
    .list > .item-block:first-child,
    .list-ios > .item-block:first-child {
        border-top-width: 0;
    }
}
