
<custom-header></custom-header>

<ion-content no-padding>
    <div class="innerSubContainer">
        <p class="pageLbl" text-capitalize>{{title}}</p>
    </div>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col class="imageContainer" (click)="openPromotionDetail(promo)" col-6 *ngFor="let promo of promotionData" >
                <lazy-img inputSrc="{{promo.featured_image || 'assets/img/not-available.jpg'}}"></lazy-img>
                <!--<img [src]="promo.featured_image || 'assets/img/not-available.jpg'" class="promoImage">-->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
