<!--
  Generated template for the PromotionPage page. 

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

<ion-content class="page-with-share-footer">
    <!--<lazy-img inputSrc="{{imageData}}"></lazy-img>-->
    <img [src]="imageData || 'assets/img/not-available.jpg'" class="pageTopImage">
    <!--<div class="pageTopImage">-->
        <!--<lazy-img inputSrc="{{imageData}}"></lazy-img>-->
    <!--</div>-->
    <div class="innerSubContainer">
        <!--{{content | json }}-->
        <p class="promotionLbl">{{title}}</p>
        <!--<p class="pageContains" [innerHtml]="content">-->
        <!--</p>-->
        <ng-template #container></ng-template>
    </div>
    <ion-grid no-padding>
        <ion-row no-padding>
            <ion-col class="imageContainer" col-6 *ngFor="let promo of promotionData" (click)="openPromotionDetail(promo)" >
                <lazy-img inputSrc="{{promo.featured_image || 'assets/img/not-available.jpg'}}"></lazy-img>
                <!--<img [src]="promo.featured_image || 'assets/img/not-available.jpg'" class="promoImage">-->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<share-footer></share-footer>
