page-stay-packages {
  .pageTopImage {
    height: 150px;
    object-fit: cover;
  }
  .promotionContains {
    margin-top: 0;
    padding: 15px 0px 0px 0px;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }
  .promotionLbl {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    color: color($colors, bgAndHeader);
    text-align: left;
    font-family: miso-bold-webfont;
  }
  .imageContainer {
    height: "containerHeight"
  }
  .promoImage {
    height: 100%;
    width: 100%
  }

  .homeCarousel {
    height: 200px
  }
  .carouselImage {
    width: 100%;
    height: 100%;
  }
  .imageContainer  {
    img {
      display: block;
    }
  }
  lazy-img img {
    height: auto !important;
  }
}

