page-dine-all {
  .list .item-block .item-inner,
  .list-md .item-block .item-inner,
   {
    border-bottom-width: 0;
  }
  .dineListItem:first-child {
    border-top: 1px solid #c3efe7;
  }
.dineListItem {
    height: 60px;
    border-bottom: 1px solid #c3efe7;
    color: color($colors, containsColor);
  }
    .item-md {
    background-color: transparent;
    padding-right: 8px;
  }
  .item-wp {
    background-color: transparent;
    padding-right: 8px;
  }
  .item-ios {
    background-color: transparent;
    padding-right: 16px;
  }
.pageContains {
  a{
    color: color($colors,secondary);
  }
}
  a{
    color: #000000 !important;
    text-decoration: underline !important;
    //color: color($colors,secondary);
  }
  .subPageHeading{
    margin-top: -8%;
    margin-left: 14%;
  }
}