<custom-header></custom-header>
<ion-content no-padding>
    <div class="innerSubContainer">
        <p class="pageLbl">{{title}}</p>
        <ng-template #container></ng-template>
        <!--<p class="pageContains" [innerHTML] = "content">-->
        <!--</p>-->
        <button ion-button icon-end class="bookBtn" color="bgAndHeader">
            BOOK A TABLE NOW
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        </button>
    </div>
    <ion-list>
        <button ion-item class="dineListItem" *ngFor="let subpage of subPageData" (click)="openDineDetail(subpage)" clear>
            <img [src]="subpage.iconUrl || 'assets/img/not-available.jpg' "  class="pull-left" style="width: 7%">
            <!--<ion-icon class="{{subpage.className}}" item-start></ion-icon>-->
            <h2 class="subPageHeading">{{subpage.label}}</h2>
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
    </ion-list>
</ion-content>