page-stay-room-details {
  .swiper-slide {
    img {
      height: 150px !important;
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
  .innerSubContainer {
    padding-bottom: 25px;
  }
  .homeCarousel {
    height: 200px
  }
  .carouselImage {
    width: 100%;
    height: 100%;
  }
  .pageContains {
    a{
       color: color($colors, containsColor);
    }
  }
  .stayLbl {
    color: color($colors, bgAndHeader);
    font-family: miso-bold-webfont;
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    margin: 0;
  }
  .stayContains {
    margin-top: 0;
    padding: 15px 0 15px 0;
    color: color($colors, containsColor);
    font-size: 1.5rem
  }

  .stayContains ion-label {
      white-space: inherit
  }
  .item-ios, .item-md, .item-wp{
    padding-left: 0px;
    min-height: 1rem;
  }
  .item-block:last-child {
    border-bottom: 1px solid transparent!important;
  }
  .item p{
    font-size: 1.6rem;
    color: color($colors,containsColor)
  }
  .item ion-icon {
    color: color($colors,containsColor);
    //margin-right : 8px
  }
  .item-ios ion-icon[item-start] {
    margin: 8px 8px 8px 0px
  }
  .item-md ion-icon[item-start] + .item-inner{
    margin-left: 0px
  }
}
