<!--
  Generated template for the StayRoomDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<custom-header></custom-header>

<ion-content overflow-scroll="true" class="page-with-share-footer">

    <ion-slides *ngIf="carouselData && carouselData.length" class="pageCarousel" [pager]="pagerFlag" autoplay="3000" loop="true">
        <ion-slide *ngFor="let image of carouselData">
            <!--<img [src]="image.slide" class="carouselImage">-->
            <lazy-img inputSrc="{{image.slide}}"></lazy-img>
        </ion-slide>
    </ion-slides>

    <div class="innerSubContainer">
        <p class="stayLbl">{{title}}</p>
        <!--<p class="pageContains" [innerHtml]="content">-->
        <!--</p>-->
        <!--<p class="pageContains" [innerHtml]="capacity">-->
        <!--</p>-->
        <ng-template #container></ng-template>
    </div>
    <div class="innerSubContainer" style="background-color: #EFF9FA" *ngIf="features != null">
        <p class="stayLbl">FEATURES</p>
        <div class="stayContains">
            <p class="pageContains" [innerHtml]="features"></p>
        </div>
    </div>
    <div class="innerSubContainer" style="background-color: #EFF9FA" *ngIf="capacity != null">
        <p class="stayLbl">CAPACITY</p>
        <div class="stayContains">
            <p class="" [innerHtml]="capacity" >
            </p>
        </div>
    </div>
    <div class="innerSubContainer">
        <button ion-button icon-end class="bookBtn" color="bgAndHeader" (click)="bookStayNow()">
            BOOK NOW
            <ion-icon name="md-arrow-dropright-circle"></ion-icon>
        </button>
    </div>
</ion-content>
<share-footer></share-footer>
